<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home</title>
</head>
<body>
    {{> header}}
    <h1>{{homePage}}</h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, similique? Obcaecati eum impedit quisquam asperiores, mollitia, aliquid officiis voluptatibus veniam animi natus eveniet adipisci repellat tenetur, velit error nihil tempora?</p>
   {{> footer}}
    
</body>
</html>